<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>{{ page.title }}</title>
   <meta name="author" content="Jonathan \"Duke\" Leto" />

   <!-- syntax highlighting CSS -->
   <link rel="stylesheet" href="/css/syntax.css" type="text/css" />

   <!-- Homepage CSS -->
   <link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen, projection" />

</head>
<body>

<div class="site">
  <div class="title">
    <a href="/">Jonathan "Duke" Leto</a>
    <a class="extra" href="/">home</a>
  </div>
  
  {{ content }}
  
  <div class="footer">
    <div class="contact">
      <p>
        {{ site.name }}<br />

        {% if site.tagline %}
        {{ site.tagline }}<br />
        {% endif %}

        {{ site.email }}<br />
      {% if site.twitter %}
      <a href="https://twitter.com/{{ site.twitter }}" class="twitter-follow-button">@{{ site.twitter }}</a>
      <script integrity="{{ site.twitter_sri }}" crossorigin="anonymous" src="js/widgets.js" type="text/javascript">
      </script>
        {% endif %}
      </p>
    </div>
    <div class="contact" style="float:right;">
      <p>
      {% if site.github %}
        <a href="http://github.com/{{ site.github }}/">Github: {{ site.github }}</a><br />
        {% endif %}
      {% if site.linkedin_url %}
        <a href="{{ site.linkedin_url }}">Linkedin</a><br />
        {% endif %}
      </p>
    </div>
    <div class="rss">
      </a>
    </div>
  </div>
</div>

</body>
</html>
